<h1>All Movies</h1># header All movies

# iterate through Movie array to display each movie.name


<ul>
  <% @movies.each do |movie| %>
  <li><a href="/movies/<%= movie.slug %>"><%= movie.name %> </a></li>
  <% end %>
</ul>


