<p><%= Movie.name %></p>

<p><a href="/movies/<%=Movie.name%>/edit">Edit</a></p>




# add edit/delete functionality
# only edit if you are user that created it
# Block routes for /movies and so forth - COMPLETE
# users and movies fulfills relationship requirement