<h2>Welcome</h2>

<h4>Manage your Movies</h4>

<ul>
  <li><a href="/movies/new"> Add Movie </a></li>
  <li><a href="/movies"> See Movies </a></li>
</ul>

<div>
  <p><%= current_user.movies </p>
</div>